<!-- Content Heading -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <!-- Main Message -->
        <%- messages() %>

            <% if (errors) { %>
                <ul class="notice">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>


                    <div class="login-container">
                        <form class="login-form" action="./update-account" method="POST">
                            <label for="account_firstname">First Name:</label>
                            <input type="text" id="account_firstname" name="account_firstname" required
                                value="<%= locals.account_firstname %>">

                            <label for="account_lastname">Last Name:</label>
                            <input type="text" id="account_lastname" name="account_lastname" required
                                value="<%= locals.account_lastname %>">

                            <label for="account_email">Email:</label>
                            <input type="email" id="account_email" name="account_email" required
                                value="<%= locals.account_email %>">

                            <button type="submit">Update Account Information</button>

                            <input type="hidden" name="account_id" <% if(locals.account_id) { %> value="<%=
                                locals.account_id %>
                                "
                                <% } %>>

                                    <input type="hidden" name="original_email" value="<%= locals.account_email %>">

                        </form>
                    </div>

                    <% if (locals.loggedInEmail===locals.account_email) { %>
                        <div class="login-container">
                            <form class="login-form" action="./update-password" method="POST">
                                <label for="account_password">Password:</label>
                                <div>
                                    <p>Password must be at least 12 characters long and include at least one uppercase
                                        letter, one
                                        number, and one special
                                        character. Changing your password will replace your old password with the new
                                        one.
                                    </p>
                                </div>
                                <form method="POST" action="/account/update-password">
                                    <input type="password" id="account_password" name="account_password" required
                                        pattern="^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\\s).{12,}$"
                                        title="Password must be at least 12 characters long and include at least one uppercase letter, one number, and one special character.">

                                    <button type="submit">Update Password</button>

                                    <input type="hidden" name="account_id" value="<%= locals.account_id %>">
                                </form>
                                <% } %>
                            </form>
                        </div>